In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('car_evaluation.csv')

In [21]:
df

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [22]:
df_le=df.copy()

In [23]:
df_le

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_le.buying=le.fit_transform(df_le.buying)
df_le.maint=le.fit_transform(df_le.maint)
df_le.lug_boot=le.fit_transform(df_le.lug_boot)
df_le.safety=le.fit_transform(df_le.safety)
df_le.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

# ONE HOT ENCODING

In [25]:
df_onehot=df.copy()

In [26]:
df_onehot

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [27]:
df_onehot=pd.get_dummies(df_onehot, columns=['buying','maint','lug_boot','safety'],drop_first=True)

In [28]:
df_onehot

,doors,persons,outcome,buying_low,buying_med,buying_vhigh,maint_low,maint_med,maint_vhigh,lug_boot_med,lug_boot_small,safety_low,safety_med
0,2,2,unacc,0,0,1,0,0,1,0,1,1,0
1,2,2,unacc,0,0,1,0,0,1,0,1,0,1
2,2,2,unacc,0,0,1,0,0,1,0,1,0,0
3,2,2,unacc,0,0,1,0,0,1,1,0,1,0
4,2,2,unacc,0,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,5,6,good,1,0,0,1,0,0,1,0,0,1
1724,5,6,vgood,1,0,0,1,0,0,1,0,0,0
1725,5,6,unacc,1,0,0,1,0,0,0,0,1,0
1726,5,6,good,1,0,0,1,0,0,0,0,0,1
1727,5,6,vgood,1,0,0,1,0,0,0,0,0,0

# Ordinal Encoding

In [31]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [32]:
df.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [33]:
dict_1={'low':0,'med':1,'high':2,'vhigh':3}

In [38]:
df_oe=df.copy()

In [39]:
df_oe

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [40]:
df_oe.buying=df_oe.buying.map(dict_1)

In [41]:
df_oe

      buying  maint  doors  persons lug_boot safety outcome
0          3  vhigh      2        2    small    low   unacc
1          3  vhigh      2        2    small    med   unacc
2          3  vhigh      2        2    small   high   unacc
3          3  vhigh      2        2      med    low   unacc
4          3  vhigh      2        2      med    med   unacc
...      ...    ...    ...      ...      ...    ...     ...
1723       0    low      5        6      med    med    good
1724       0    low      5        6      med   high   vgood
1725       0    low      5        6      big    low   unacc
1726       0    low      5        6      big    med    good
1727       0    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [42]:
df_oe.maint=df_oe.maint.map(dict_1)

In [43]:
df_oe

      buying  maint  doors  persons lug_boot safety outcome
0          3      3      2        2    small    low   unacc
1          3      3      2        2    small    med   unacc
2          3      3      2        2    small   high   unacc
3          3      3      2        2      med    low   unacc
4          3      3      2        2      med    med   unacc
...      ...    ...    ...      ...      ...    ...     ...
1723       0      0      5        6      med    med    good
1724       0      0      5        6      med   high   vgood
1725       0      0      5        6      big    low   unacc
1726       0      0      5        6      big    med    good
1727       0      0      5        6      big   high   vgood

[1728 rows x 7 columns]

In [44]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [45]:
dict_2={'small':0,'med':1,'big':2}

In [46]:
df_oe.lug_boot=df_oe.lug_boot.map(dict_2)

In [47]:
df_oe

      buying  maint  doors  persons  lug_boot safety outcome
0          3      3      2        2         0    low   unacc
1          3      3      2        2         0    med   unacc
2          3      3      2        2         0   high   unacc
3          3      3      2        2         1    low   unacc
4          3      3      2        2         1    med   unacc
...      ...    ...    ...      ...       ...    ...     ...
1723       0      0      5        6         1    med    good
1724       0      0      5        6         1   high   vgood
1725       0      0      5        6         2    low   unacc
1726       0      0      5        6         2    med    good
1727       0      0      5        6         2   high   vgood

[1728 rows x 7 columns]

In [48]:
df.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [49]:
df_oe.safety=df_oe.safety.map(dict_1)

In [50]:
df_oe

      buying  maint  doors  persons  lug_boot  safety outcome
0          3      3      2        2         0       0   unacc
1          3      3      2        2         0       1   unacc
2          3      3      2        2         0       2   unacc
3          3      3      2        2         1       0   unacc
4          3      3      2        2         1       1   unacc
...      ...    ...    ...      ...       ...     ...     ...
1723       0      0      5        6         1       1    good
1724       0      0      5        6         1       2   vgood
1725       0      0      5        6         2       0   unacc
1726       0      0      5        6         2       1    good
1727       0      0      5        6         2       2   vgood

[1728 rows x 7 columns]